<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>nexus-empresas-release</id>
      <username>projuris.empresas</username>
      <password>jO8lUnGGX9y7s9s7w4B7@Q569pGbYzoN</password>
    </server>
    <server>
      <id>nexus-empresas-snapshot</id>
      <username>projuris.empresas</username>
      <password>jO8lUnGGX9y7s9s7w4B7@Q569pGbYzoN</password>
    </server>
    <server>
      <id>nexus-empresas</id>
      <username>maven-ro</username>
      <password>${env.MAVEN_RO_PASSWORD}</password>
    </server>
    <server>
      <id>nexus-public</id>
      <username>maven-ro</username>
      <password>${env.MAVEN_RO_PASSWORD}</password>
    </server>
  </servers>
</settings>
