root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
ij_any_do_while_brace_force = always
ij_any_for_brace_force = always
ij_any_if_brace_force = always

[pom.xml]
indent_style = tab